@font-face {
    font-family: 'Iranian Sans';
    src: url("/user/fonts/Iranian Sans.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'danstevis';
    src: url("/user/fonts/danstevis.otf")  format('opentype');
    font-weight: normal;
    font-style: normal;
}
.header-flag {
    display: inline-block !important;
    width: auto !important;
    padding: 0.25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529  !important;;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}
#ul-nav-menu{
    display: flex !important;
}
.persian-style {
    direction: rtl;
    font-family: 'Iranian Sans', sans-serif;
}

.english-style {
    direction: ltr;
}
.banner-message {
    font-family: 'Iranian Sans', sans-serif;
}
.about-text {
    white-space: pre-wrap;
    word-wrap: break-word;
}
.en-font {
    font-family: "Poppins", sans-serif
}
.fa-font {
    font-family: 'Iranian Sans', sans-serif;
}
.pre-about-content {
    text-align: right;
    font-family: 'Iranian Sans', sans-serif;
}
.start-about {
 text-align: right;
}
#few-words::before {
    content: '';
}
.text-justify {
    text-align: justify;
}

#start-about::before {
    content: '';
}
#about-content::before {
    content: ''
}
.dir-rtl {
    direction: rtl;
}
.dir-ltr{
    direction: ltr;
}
.remove-before-content::before {
    content: '';
}
.single-exibition a:hover {
    color: #000;
}
.persian-single-blog {
    direction: rtl;
    text-align: justify;
    font-family: 'Iranian Sans', sans-serif;
}
.liked {
    color: red;
}
.dis-non {
    display: none;
}
.img-post {
    max-width: 100%;
    max-height: 100%;
}
.m-r-20 {
    margin-right: 20px;
}
.m-l-20 {
    margin-left: 20px;
}

.single-recent-post {
    display: flex;
    flex-direction: row; /* Ensures children are arranged in a row */
}

.recent-thumb, .recent-details {
    flex: 1; /* Ensures both divs take up equal space */
    padding: 10px; /* Optional: Add some padding for better spacing */
}

.recent-thumb img {
    width: 100%; /* Ensures the image fills the container */
    height: auto; /* Maintains aspect ratio of the image */
    display: block; /* Removes bottom space/line caused by images */
}
.lnr-heart:hover {
    cursor: pointer;
}
.single-gallery {
    flex: 1 1 25%;  !important;
    box-sizing: border-box; !important;
    padding: 15px; !important;
}
.grid-item {
    width: 100%; !important;
    height: auto; !important;
    display: block; !important;
    object-fit: cover; !important;
}
@media (max-width: 768px) {
    .single-gallery {
        flex: 1 1 50%; /* 2 items per row on smaller screens */
    }
}

@media (max-width: 480px) {
    .single-gallery {
        flex: 1 1 100%; /* 1 item per row on very small screens */
    }
}
